* {
  font-family: Monaco, sans-serif;
}

 

.commentContainer {
  margin-top: 6px;
   
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: 100%;
   
  border-radius: 5px;
   position: relative;
}

.commentContainer::before{
   content: '';
    background-color: rgb(185, 185, 185);
    position: absolute;
    min-height: 100%;
    width: 1px;
    left: -10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  
  align-items: baseline;
  gap: 5px;
}

.inputContainer > span {
  margin-top: 5px;
}

.inputContainer__input {
  margin: 6px 0 0px 0;
  padding: 5px;
  display: flex;
  border: 1px solid lightgray;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
  background-color: #e7e7e7;
  width: 100%;
}

.first_input {
  margin: 0;
}

.commentContainer > span {
  margin: 0 5px;
}

.reply {
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  color: #4e4e4e;
  font-weight: 600;
  cursor: pointer;
}

.comment {
  color: #ffffff;
  background-color: #569dff;
  letter-spacing: 0.8px;
}
